<article class="broken-tales bt-chat-card {{outcome.cssClass}}">
  <header>
    <h3>{{localize outcome.label}}</h3>
    <span>{{localize checkTypeLabel}}</span>
  </header>

  <dl>
    <dt>{{localize "BROKENTALES.Roll.Character"}}</dt>
    <dd>{{actor.name}}</dd>
    <dt>{{localize "BROKENTALES.Roll.Descriptor"}}</dt>
    <dd>{{#if descriptor}}{{descriptor.name}}{{else}}{{localize "BROKENTALES.Roll.NoDescriptor"}}{{/if}}</dd>
    <dt>{{localize "BROKENTALES.Roll.NarrativeMode"}}</dt>
    <dd>{{localize narrativeModeLabel}}</dd>
    <dt>{{localize "BROKENTALES.Roll.BaseSuccesses"}}</dt>
    <dd>{{baseSuccesses}}</dd>
    <dt>{{localize "BROKENTALES.Roll.DescriptorSuccesses"}}</dt>
    <dd>+{{descriptorSuccesses}}</dd>
    {{#if manualDescriptors.length}}
    <dt>{{localize "BROKENTALES.Roll.ManualDescriptors"}}</dt>
    <dd>
      <ul class="bt-chat-descriptors">
        {{#each manualDescriptors as |entry|}}
        <li>{{#if entry.name}}{{entry.name}}{{else}}{{localize "BROKENTALES.Roll.Descriptor"}}{{/if}} <strong>+{{entry.successes}}</strong></li>
        {{/each}}
      </ul>
    </dd>
    {{/if}}
    <dt>{{localize "BROKENTALES.Roll.OppositionLevel"}}</dt>
    <dd>{{oppositionLevel}}</dd>
    <dt>{{localize "BROKENTALES.Roll.GiftModifier"}}</dt>
    <dd>{{#if modifier}}{{modifier}}{{else}}0{{/if}}</dd>
    <dt>{{localize "BROKENTALES.Roll.FinalOppositionLevel"}}</dt>
    <dd>{{finalOppositionLevel}}</dd>
    <dt>{{localize "BROKENTALES.Soma"}}</dt>
    <dd>+{{somaSpent}}</dd>
    <dt>{{localize "BROKENTALES.Roll.GiftSuccesses"}}</dt>
    <dd>+{{giftSuccesses}}</dd>
    <dt>{{localize "BROKENTALES.Roll.Penalties"}}</dt>
    <dd>-{{penalties}}</dd>
    <dt>{{localize "BROKENTALES.Roll.DiceCount"}}</dt>
    <dd>
      {{#if diceDisplay.length}}
        {{#each diceDisplay as |die|}}<span class="bt-die {{#if die.isOne}}one{{/if}}">{{die.result}}</span>{{/each}}
      {{else}}
        -
      {{/if}}
    </dd>
    <dt>{{localize "BROKENTALES.Roll.DiceSuccesses"}}</dt>
    <dd>+{{diceSuccesses}}</dd>
    <dt>{{localize "BROKENTALES.Roll.TotalSuccesses"}}</dt>
    <dd>{{totalSuccesses}}</dd>
  </dl>

  {{#if hasBotch}}
  <p class="bt-warning">{{localize "BROKENTALES.Roll.OneCancels"}}</p>
  {{/if}}
</article>
