<article class="broken-tales bt-chat-card {{outcome.cssClass}}">
  <header>
    <h3>{{localize outcome.label}}</h3>
    <span>{{localize checkTypeLabel}}</span>
  </header>

  <dl>
    <dt>{{localize "BROKENTALES.Roll.Descriptor"}}</dt>
    <dd>{{#if descriptor}}{{descriptor.name}}{{else}}{{localize "BROKENTALES.Roll.NoDescriptor"}}{{/if}}</dd>
    <dt>{{localize "BROKENTALES.Roll.BaseSuccesses"}}</dt>
    <dd>{{baseSuccesses}}</dd>
    <dt>{{localize "BROKENTALES.Roll.OppositionLevel"}}</dt>
    <dd>{{oppositionLevel}} {{#if modifier}}({{modifier}}){{/if}} = {{finalOppositionLevel}}</dd>
    <dt>{{localize "BROKENTALES.Soma"}}</dt>
    <dd>+{{somaSpent}}</dd>
    <dt>{{localize "BROKENTALES.Roll.GiftSuccesses"}}</dt>
    <dd>+{{giftSuccesses}}</dd>
    <dt>{{localize "BROKENTALES.Roll.Penalties"}}</dt>
    <dd>-{{penalties}}</dd>
    <dt>{{localize "BROKENTALES.Roll.RiskDice"}}</dt>
    <dd>
      {{#if diceDisplay.length}}
        {{#each diceDisplay as |die|}}<span class="bt-die {{#if die.isOne}}one{{/if}}">{{die.result}}</span>{{/each}}
      {{else}}
        -
      {{/if}}
    </dd>
    <dt>{{localize "BROKENTALES.Roll.TotalSuccesses"}}</dt>
    <dd>{{totalSuccesses}}</dd>
  </dl>

  {{#if hasBotch}}
  <p class="bt-warning">{{localize "BROKENTALES.Roll.OneCancels"}}</p>
  {{/if}}
</article>
